<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Rubik'sCubeStore.accdb&quot;;Persist Security Info=True" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
  </system.web>
  <appSettings>
  <add key="ServVisa.WebService" value="http://localhost:12621/WebServiceVisa/WebService.asmx"/>
  </appSettings>
</configuration>